body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fcfb8bfe-c426-4434-9857-242b88687a1c/desdg6y-9649b67c-3836-4a5d-b766-550b235704ee.png/v1/fill/w_1280,h_720,q_80,strp/kawaki___boruto_by_zasinlow_desdg6y-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZmNmYjhiZmUtYzQyNi00NDM0LTk4NTctMjQyYjg4Njg3YTFjXC9kZXNkZzZ5LTk2NDliNjdjLTM4MzYtNGE1ZC1iNzY2LTU1MGIyMzU3MDRlZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2JPKC6GgddB-mC9vrloln_H0_kTq_SNKEn5ihoDnrd0);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: oblique;
    font-size:xx-large;
    color: aliceblue;
    font-display: initial;
    font-stretch: narrower;
}